<p>users works!</p>

<div>
    <a routerLink="/categories">GoToCategories</a><br><br>
    <button (click)="onCategory()">GoToCategories</button>
</div>
<br>
<div>
    <div>User with id : {{users.id}}</div>
    <div>User with name : {{users.name}}</div>
</div>
<br>
<div>
   <a routerLink="/categories" [queryParams]="{page:1,search:'prems'}" [fragment]="'load'">QueryParams&Fragment</a>
</div><br>
<div>
    <button (click)="queryfragment()">QueryParams&Fragment</button>
</div>
<br>

<div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link " [routerLink]="['/users',1,'student']" >Get student details</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/users',2,'teacher']">Get teacher Details</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
</div>