.container{
    display:flex;
    justify-content: center;
}

.mytable{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }
  .mytable thead tr{
    min-height: 30px;
    font-size: 18px;
  }
  .mytable tr{
    text-align: center;
  }  
  